*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

main{
    width: 900px;
    height: 650px;
    border: 1px solid lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -450px;
    border-radius: 10px;

}
main .start-welcome{
    width: 50%;
    height: 650px;
    background-color: aliceblue;
    float: left;
}
main h5{
    width: 300px;
    padding: 30px 0;
    margin-left: 15%;
    color: rgba(128, 128, 128, 0.55) ;
}
main .title-desc{
    margin-top: 15%;
    margin-left: 15%;
}
input{
    margin-left: 15%;
    margin-top: 25px;
    border: 1px solid #0c0000;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    width: 300px;
}
button{
    margin-left: 15%;
    border: none;
    margin-top: 25px;
    background-color: blue;   
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    width: 320px;
    padding: 10px ;
}
main .socile-media{
    margin-left: 15%;
    margin-top: 25px;
}
main .socile-media h3{
    font-size: 15px;
    color: gray;
    padding-top: 25px;
    margin-left: 100px;
}
main .socile-media ul li{
    text-decoration: none;
    display:inline-block;
    margin-left: 100px;
    padding-top: 60px;
    margin: 30px;
}
main .stat-desc{
    height: 650px;
    background-image:url("770.png");
    display: flex;
}
main .stat-desc h1{
    margin-left: 15%;
    font-size: 70px;
    color:#fff;
    font-weight: bold;
    margin-top:30%;
}
main .stat-desc p{
    margin-left: 20%;
    margin-top: 20px;
    color: #c4bbbb;
    font-size: 15px;
    padding: 15px;
    line-height: 25px;
}
main .stat-desc .img img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 80px;
}
main .stat-desc .name-job{
    margin-left: 35%;
    margin-top: -40px;
    line-height: 10px;
    color:#fff;
}
#h4{
    color: #c4bbbb;
}